<div>
    <nav class="navbar CJF7A2" id="SITE_HEADER">
        <!-- ... -->
        <div class="navbar-brand" style="display: flex;     flex-direction: row;   ">
            <img src="../../../favicon.ico" alt="MyApp Logo">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <i class="pi pi-home"></i><a class="nav-link" routerLink="/" style="margin-right: 0;">Home</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ml-auto"> <!-- ml-auto class pushes items to the right -->
            <li><a routerLink="/auth/login">  <i class="fas fa-sign-in-alt"></i>  Login</a></li>
            <li><a routerLink="/auth/register"> <i class="fas fa-user-plus"></i> Register</a></li>
            <!-- More items with icons -->
        </ul>
    </nav>
</div>
