<div class="profile-container">
  <ng-container *ngIf="user">
    <p-card
      [header]="user.name"
      [subheader]="user.email"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <p>User Details</p>
      <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button
          label="Attend"
          icon="pi pi-times"
          styleClass="p-button-secondary"
          [style]="{ 'margin-left': '.5em' }"
          (onClick)="attendance()"
        ></p-button>
      </ng-template>
    </p-card>
  </ng-container>
</div>
<p-toast></p-toast>
